@import url('./bootstrap/bootstrap.css');
body{
  font-family: acumin-pro, 'Noto Sans JP', sans-serif !important;
  font-weight: 400;
  font-style: normal;
}
.title{
  font-family: acumin-pro, 'Noto Sans JP', sans-serif !important;
  font-weight: 700;
  font-style: normal;
}
.logotype{
  font-family: acumin-pro-extra-condensed, 'Noto Sans JP', sans-serif !important;
  font-weight: 700;
  font-style: normal;
}
.lg-height{
  min-height: 50vh;
}
.lg-spacer{
  min-height: 18vh;
}

.min-spacer{
  min-height: 1em;
}
.footer{
  position: absolute;
  bottom: 0;
  background-color: #f5f5f5;
  height: 60px;
  width: 100%;
}
.f-spacer{
  height: 2vh;
}
.widenav{
  padding: 0.8em;
  height: 4em;
  background-color: rgb(59, 69, 82);
  color: white;
  margin: -1em;
}